body{
    background-image: url("https://i.pinimg.com/originals/44/30/02/44300200139611c9dfafef79beb9c39d.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkred;
    font-style: oblique;
    font-size: 20px;
    text-shadow: black;
}

.bloco_info{
    padding: 10px;
}